<div id="articles">
  <h2 id="month"><%= @date.strftime("%B %Y") %></h2>
  <%= weekly_calendar @date do |date| %>
    <%= date.day %>
    <% if false && @articles_by_date[date] %>
    <ul>
      <% @articles_by_date[date].each do |article| %>
        <li><%= link_to article.name, article %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>

<hr>
<div style="width:100px">
   <% 0.upto(23) do |i| %>
      <div style="border: 1px solid gray; height: 25px;">
         <%= (Time.utc(0)+i.hour).strftime("%-I%P") %>
      </div>
      <div style="border: 1px solid gray; height: 25px;">
         &nbsp;
      </div>
   <% end %>
</div>
<!--
<table id="tgTable" class="tg-timedevents" cellpadding="0" cellspacing="0" style="height:1010px">
   <tbody>
      <tr height="1">
         <td style="width:60px;"></td>
         <td colspan="7">
            <div class="tg-spanningwrapper">
               <div class="tg-hourmarkers">
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
                  <div class="tg-markercell">
                     <div class="tg-dualmarker"></div>
                  </div>
               </div>
            </div>
            <div class="tg-spanningwrapper tg-chipspanningwrapper" id="tgspanningwrapper"></div>
         </td>
      </tr>
      <tr>
         <td class="tg-times-pri">
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">12am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">1am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">2am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">3am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">4am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">5am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">6am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">7am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">8am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">9am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">10am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">11am</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">12pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">1pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">2pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">3pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">4pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">5pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">6pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">7pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">8pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">9pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri" style="height:41px;">10pm</div>
            </div>
            <div style="height:42px;">
               <div class="tg-time-pri tg-time-pri-last" style="height:41px;">11pm</div>
            </div>
            <div id="tgnowptr" class="tg-nowptr" style="left:0px;top:15px;"></div>
         </td>
         <td class="tg-col tg-weekend">
            <div id="tgCol0" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter"></div>
            </div>
            <div id="tgOver0" class="tg-col-overlaywrapper"></div>
         </td>
         <td class="tg-col">
            <div id="tgCol1" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter"></div>
            </div>
            <div id="tgOver1" class="tg-col-overlaywrapper"></div>
         </td>
         <td class="tg-col">
            <div id="tgCol2" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter"></div>
            </div>
            <div id="tgOver2" class="tg-col-overlaywrapper"></div>
         </td>
         <td class="tg-col">
            <div id="tgCol3" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter">
                  <div class="ca-evp119 chip " style="top:777px;left:-1px;width:100%;">
                     <dl class="cbrd" style="height:56px;border-color:#A9ABFE;background-color:#E3E3FF;color:#777777;">
                        <dt style="background-color:;">6:30p – 8p <i class="cic cic-dm  cic-rcr" title="Recurring event">&nbsp;</i></dt>
                        <dd><span class="evt-lk ca-elp119">Yoga</span></dd>
                        <div>
                           <div class="mask mask-top" style="border-color:#A9ABFE;background-color:#E3E3FF;">&nbsp;</div>
                           <div class="mask mask-bottom" style="border-color:#A9ABFE;background-color:#E3E3FF;">&nbsp;</div>
                           <div class="mask mask-left" style="height:59px;border-color:#A9ABFE;background-color:#E3E3FF;">&nbsp;</div>
                           <div class="mask mask-right" style="height:59px;border-color:#A9ABFE;background-color:#E3E3FF;">&nbsp;</div>
                        </div>
                        <div class="resizer">
                           <div class="rszr-icon">&nbsp;</div>
                        </div>
                     </dl>
                  </div>
                  <div class="ca-evp16 chip " style="top:924px;left:-1px;width:100%;">
                     <dl class="cbrd" style="height:35px;border-color:#9FE1E7;background-color:#E4F7F8;color:#777777;">
                        <dt style="background-color:;">10p – 11p <i class="cic cic-dm  cic-tmr" title="Reminders">&nbsp;</i><i class="cic cic-dm  cic-rcr" title="Recurring event">&nbsp;</i><i class="cic cic-dm  cic-prsn" title="Guests">&nbsp;</i></dt>
                        <dd><span class="evt-lk ca-elp16">SZG Meeting</span></dd>
                        <div>
                           <div class="mask mask-top" style="border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-bottom" style="border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-left" style="height:38px;border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-right" style="height:38px;border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                        </div>
                        <div class="resizer">
                           <div class="rszr-icon">&nbsp;</div>
                        </div>
                     </dl>
                  </div>
               </div>
            </div>
            <div id="tgOver3" class="tg-col-overlaywrapper"></div>
         </td>
         <td class="tg-col">
            <div id="tgCol4" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter">
                  <div class="ca-evp17 chip " style="top:735px;left:-1px;width:100%;">
                     <dl class="cbrd" style="height:161px;border-color:#9FE1E7;background-color:#E4F7F8;color:#777777;">
                        <dt style="background-color:;"><i class="cic cic-dm  cic-nr" title="Not yet responded">&nbsp;</i>5:30p – 9:30p <i class="cic cic-dm  cic-tmr" title="Reminders">&nbsp;</i><i class="cic cic-dm  cic-prsn" title="Guests">&nbsp;</i></dt>
                        <dd><span class="evt-lk ca-elp17">March's Event! Friends and HBO Monthly Gathering: Celebrating The Monthly Wins</span></dd>
                        <div>
                           <div class="mask mask-top" style="border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-bottom" style="border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-left" style="height:164px;border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                           <div class="mask mask-right" style="height:164px;border-color:#9FE1E7;background-color:#E4F7F8;">&nbsp;</div>
                        </div>
                        <div class="resizer">
                           <div class="rszr-icon">&nbsp;</div>
                        </div>
                     </dl>
                  </div>
               </div>
            </div>
            <div id="tgOver4" class="tg-col-overlaywrapper"></div>
         </td>
         <td class="tg-col-today">
            <div class="tg-today" style="height:1008px;margin-bottom:-1008px;">&nbsp;</div>
            <div id="tgCol5" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter">
                  <div class="ca-evp18 chip " style="top:462px;left:-1px;width:100%;">
                     <dl class="cbrd" style="height:35px;border-color:#0BBCB2;background-color:#9FE1E7;color:#1d1d1d;">
                        <dt style="background-color:;">11 – 12p <i class="cic  cic-tmr" title="Reminders">&nbsp;</i></dt>
                        <dd><span class="evt-lk ca-elp18">EB5 Lawyer</span></dd>
                        <div>
                           <div class="mask mask-top" style="border-color:#0BBCB2;background-color:#9FE1E7;">&nbsp;</div>
                           <div class="mask mask-bottom" style="border-color:#0BBCB2;background-color:#9FE1E7;">&nbsp;</div>
                           <div class="mask mask-left" style="height:38px;border-color:#0BBCB2;background-color:#9FE1E7;">&nbsp;</div>
                           <div class="mask mask-right" style="height:38px;border-color:#0BBCB2;background-color:#9FE1E7;">&nbsp;</div>
                        </div>
                        <div class="resizer">
                           <div class="rszr-icon">&nbsp;</div>
                        </div>
                     </dl>
                  </div>
               </div>
            </div>
            <div id="tgOver5" class="tg-col-overlaywrapper">
               <div class="tg-hourmarker tg-nowmarker" id="tgnowmarker" style="top:19px;"> </div>
            </div>
         </td>
         <td class="tg-col-today tg-weekend">
            <div id="tgCol6" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
               <div class="tg-gutter"></div>
            </div>
            <div id="tgOver6" class="tg-col-overlaywrapper"></div>
         </td>
      </tr>
   </tbody>
</table>
-->